@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  color: #070211;
}

a {
  text-decoration: none;
  transition: 0.3s;
  font-family: "Merriweather", serif;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
  color: #070211;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.section-padding {
  padding: 120px 0;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-botton: 0;
}
/* Header styles */
#header-container {
  width: 100%;
}
.header-bg {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/banner-image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.header-content {
  color: #fff;
  width: 632px;
  text-align: center;
}
.header-content {
  color: #fff;
  width: 632px;
  text-align: center;
}

h3.header-subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

h1.header-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
.offer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.offer-big-text {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  line-height: normal;
  margin-bottom: 48px;
}

p.offer-sub-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

h2.offer-title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: normal;
  margin-bottom: 48px;
}

.offer-img img {
  width: 802.9px;
  height: 500px;
}
/* Welcome styles */
.welcome-bg {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  border-radius: 16px;
  display: flex;
}
.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: #ffffff;
  padding: 0 125px;
}
.welcome-img img {
  width: 319.83px;
  height: 464.662px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
  width: 697px;
}

.welcome-text h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.welcome-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

a.inline-btn {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

a.inline-btn:hover {
  text-decoration: underline;
}
/* Destination styles */
.destination-content {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px;
  border-radius: 16px;
  text-align: center;
}

.destination-content p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.destination-content p span {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.btn-primary {
  padding: 16px 32px;
  border: 0;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 64px;
  cursor: pointer;
}
/* Coming soon styles */
.coming-soon-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.coming-soon-text {
  width: 33.33%;
}

.coming-soon-text h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.coming-soon-text h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.coming-soon-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon-img-container {
  width: 33.33%;
  text-align: center;
}
.inner-img {
  border-radius: 50%;
  width: 416px;
  height: 416px;
  background-color: #ff0000;
  position: relative;
}
.inner-img img {
  border: 30px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 6%;
  top: 6%;
  width: 364.844px;
  height: 364.844px;
  content: "";
}
.new-year-text {
  width: 33.33%;
}

.new-year-text h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}

.new-year-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

.new-year-text img {
  width: 140px;
  height: 140px;
}
/* Holiday sale styles */
.sale-title-container h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.sale-title-container h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: normal;
}

.sale-title-container h2 span {
  color: #f00;
  font-size: 72px;
  font-weight: 900;
  line-height: normal;
}

.sale-title-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 70%;
  margin: 0 auto;
}
.floating-img-container {
  background-image: url(../images/rectangle-2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  padding-bottom: 220px;
  padding-top: 70px;
}
.left-img {
  width: 60%;
  text-align: center;
  position: relative;
}
.left-img img {
  position: absolute;
  content: "";
  bottom: -213px;
  left: 12px;
  height: auto;
  width: 100%;
}
.right-img {
  text-align: right;
  position: relative;
  width: 38%;
}
img.img-absolute {
  position: absolute;
  content: "";
  top: 10%;
  left: -31%;
}
.right-img .img-relative {
  border-radius: 16px 16px 0 0;
}
/* Portfolio styles */
.portfolio-title {
  width: 896px;
}

.portfolio-title h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.portfolio-title h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.portfolio-title p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.portfolio-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* CTA styles */
.cta-content {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-img img {
  width: 150px;
  height: 150px;
}

.cta-img {
  margin-bottom: 40px;
}

.cta-text h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.cta-text p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.cta-text {
  width: 896px;
  margin-bottom: 48px;
}
.cta-form form {
  display: flex;
}
.cta-form input {
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: 0;
  padding: 25px 30px;
  width: 370px;
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.cta-form .btn-primary {
  margin: 0;
  border-radius: 0 50px 50px 0;
  padding: 20px 31px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
/* Footer styles */
.dark-bg {
  background: #070211;
}
.footer-content {
  color: #fff;
  font-family: "Inter", sans-serif;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 50px 0;
  margin: 50px 0;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  color: #fff;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 50px 0;
  margin: 50px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.footer-right p > img {
  width: 24px;
  height: 24px;
}

.footer-right p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.social-links > ul > li > a > img {
  width: 64px;
  height: 64px;
}

.copyright p {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.copyright p > a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
